<!DOCTYPE html>
<html lang="en">
<head>
    {% from "bootstrap5/form.html" import render_form %}
    <meta charset="UTF-8">
    <title>Add Cafe - Cafes and Wifi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #4b3832;
            color: #4b3832;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-header">
                    <h1>Add Cafe</h1>
                    <span>Provide details about the new cafe</span>
                </div>
                <div class="card-body">
                    {{ ckeditor.load() }} {{ ckeditor.config(name='body') }} {{
                    render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
